	<h2>Locator i-service</h2>

	<p>This is the <a href="$providerlink">$providername</a> Locator i-service endpoint.
	Please refer to our main page to find out more about this service and how to use it.</p>
