	<h2>$locator.indx's Locator Page</h2>
	
	<h3>Information about the subscriber:</h3>

	<p><strong>i-name:</strong> $qxri</p>
	<p><strong>Current Location:</strong><br>

	<div class="code">$encoder.html($locator.address)</div>

	#if ($locator.description)
		<p>
		<div class="border" style="white-space: pre">$encoder.html($locator.description)</div>
		</p>
	#end

	<p><strong>Map:</strong><br>
	<div id="map"  style="width: 500px; height: 300px"></div>
	</p>

	#if ($locator.contactLink)
		<p>You can send the subscriber a message on their Contact Page: 
		<strong><a href="$hxri-prefix/$qxri/(+contact)">$qxri/(+contact)</a></strong></p>
	#end

	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=$api-key">
	</script>

	<script type="text/javascript">
		var map = new GMap2(document.getElementById("map"));
		map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());
		map.setCenter(new GLatLng($locator.lat, $locator.lng), $locator.zoom);
	</script>
