<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- various property files -->

	<util:properties id="applicationProperties" location="/WEB-INF/application.properties" />
	<util:properties id="eppToolsProperties" location="/WEB-INF/epptools.properties" />
	<util:properties id="ibrokerStoreProperties" location="/WEB-INF/ibrokerstore.properties" />
	<util:properties id="iserviceStoreProperties" location="/WEB-INF/iservicestore.properties" />

	<!-- WICKET APPLICATION -->

	<bean id="wicketApplication" class="ibrokerkit.ibrokerfront.webapplication.IbrokerApplication">
		<property name="properties"><ref local="applicationProperties" /></property>
		<property name="eppTools"><ref local="eppTools" /></property>
		<property name="ibrokerStore"><ref local="ibrokerStore" /></property>
		<property name="iserviceStore"><ref local="iserviceStore" /></property>
		<property name="consumerManager"><ref local="consumerManager" /></property>
	</bean>

	<!-- epptools4java  -->

	<bean id="eppTools" class="ibrokerkit.epptools4java.EppTools" init-method="init">
		<constructor-arg><ref local="eppToolsProperties" /></constructor-arg>
	</bean>

	<!-- ibrokerStore  -->

	<bean id="ibrokerStore" class="ibrokerkit.ibrokerstore.store.impl.db.DatabaseStore" init-method="init">
		<constructor-arg><ref local="ibrokerStoreProperties" /></constructor-arg>
	</bean>

	<!-- iserviceStore  -->

	<bean id="iserviceStore" class="ibrokerkit.iservicestore.store.impl.db.DatabaseStore" init-method="init">
		<constructor-arg><ref local="iserviceStoreProperties" /></constructor-arg>
	</bean>

	<!-- OpenID Consumer Manager -->

	<bean id="consumerManager" class="ibrokerkit.ibrokerfront.webapplication.util.IbrokerConsumerManager" />

</beans>
