Congratulations. We have successfully renewed your i-name $iname.
You can at any time configure it using our wizard or advanced configuration panels
at http://www.youribroker.com.

The new expiration date of your i-name is $expdate.

If you lose your password, you can recover it at
http://www.youribroker.com/user/ForgotPass

If you need help, contact us at our contact page at http://xri.net/@youribroker/(+contact) or via email support@youribroker.com.
