	<h2>OpenID Gateway</h2>

	<p>We are now going to authenticate you to an OpenID consumer at <strong>$message.getDestinationUrl(false)</strong>.</p>
	<p>Please press Continue.</p>

	<form action="$message.getDestinationUrl(false)">

		#foreach ($parameter in $message.getParameterMap())
			<input name="$parameter.key" value="$parameter.value" type="hidden">
		#end

		<input type="submit" value="Continue...">

	</form>
	