	<title>$providername</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />

	<meta name="Description" content="$providerdescription">
	<meta name="Keywords" content="$providerkeywords">
	<meta name="Copyright" content="$providername">

#if ($inumber)
        <link href="/feed/rss/$inumber" rel="alternate" type="application/rss+xml"></link>
        <link href="/feed/atom/$inumber" rel="alternate" type="application/atom+xml"></link>
#end
