
	<h2>Forwarding Index Page for $qxri:</h2>

	<br>
	
	<table style="border:2px solid black"><thead><tr><td>Path</td><td>URI</td></tr></thead><tbody>
		#foreach ($entry in $forwarding.mappings.entrySet())
			<tr><td class="path">$entry.key</td><td><a class="uri" href="$entry.value">$entry.value</a></td></tr>
		#end
	</tbody></table>	

