Dear Customer,

Your I-Name $iname has expired and has now been deleted.
There may be one last chance to restore your I-Name. If you
wish to do so, please contact us as soon as possible.

greetings,
$ibrokername
