<html>
<body>

<wicket:extend>

	<h2>Description</h2>

	<p>ibrokerCert is a standalone application that is only needed once during the
	initial accreditation phase with XDI.org and NeuStar. It is not used anymore once an
	i-broker begins normal operation.</p>
	
	<p>The application performs the 44 tests prescribed by NeuStar's <b>Technical
	Certification Guide for XRI Version 1.3</b>:</p>
	
	<p class="small">
Test 1: Connection Establishment - Start Session<br>
Test 2: Login and Authentication<br>
Test 3: Change Password<br>
Test 4: Create an Authority<br>
Test 5: Create an Authority with Maximum Length<br>
Test 6: Create an Authority with Minimum Length<br>
Test 7: Check Authority (Authority Not Available)<br>
Test 8: Check Authority (Authority Available)<br>
Test 9: Check Authority with Maximum Length<br>
Test 10: Query Authority &lt;info&gt;<br>
Test 11: Transfer Query Command<br>
Test 12: Delete an Authority<br>
Test 13: Transfer an Authority<br>
Test 14: Change Authority Trustees<br>
Test 15: Change Escrow and contact agent<br>
Test 16: Change Authority Social Data<br>
Test 17: Change Authority Status and Add Service Endpoint<br>
Test 18: Add Service Endpoints<br>
Test 19: Add and Remove Service Endpoints<br>
Test 20: Create I-Number<br>
Test 21: Create I-Number with Maximum Length<br>
Test 22: Check I-Number (I-Number Known)<br>
Test 23: Check I-Number (I-Number Unknown)<br>
Test 24: The &lt;info&gt; I-Number Command<br>
Test 25: Delete I-Number<br>
Test 26: Update I-Number<br>
Test 27: Renew I-Number<br>
Test 28: Create I-Name<br>
Test 29: Check I-Name (I-Name Known)<br>
Test 30: Check I-Name (I-Name Unknown)<br>
Test 31: &lt;info&gt; Query I-Name<br>
Test 32: Transfer I-Name<br>
Test 33: Query I-Name Transfer Status<br>
Test 34: Update I-Name Status<br>
Test 35: Renew I-Name<br>
Test 36: Delete I-Name<br>
Test 37: Create I-Service<br>
Test 38: Check I-Service (I-Service Known)<br>
Test 39: Check I-Service (I-Service Unknown)<br>
Test 40: &lt;info&gt; Query I-Service<br>
Test 41: Update I-Service Status<br>
Test 42: Renew I-Service<br>
Test 43: Delete I-Service<br>
Test 44: Logout
	</p>

	<p>Optionally, ibrokerCert can be configured to:</p>
	
	<ul>
	<li>Check if the EPP responses from the certification servers contain the expected values.</li>
	<li>Log all EPP requests and responses for later examination.</li>
	</ul>

	<h2>Packaging</h2>
	
	<p>ibrokerCert is packaged as an executable .JAR file.</p>

</wicket:extend>

</body>
</html>
