<html>
<body>

<wicket:extend>

	<h2>Description</h2>

	<p>This is the web application acting as a frontend to all main i-broker operations. 
	For example, it allows users to perform the following tasks:</p>
	
	<ul>
	<li>Register new top-level and community i-names.</li>
	<li>Manage existing i-names and i-services.</li>
	<li>Manage user account, change contact information, reset password, etc.</li>
	<li>Transfer i-names (in and out).</li>
	<li>Renew i-names.</li>
	</ul>

	<p>ibrokerFront can be configured and deployed without requiring programming work. However, 
	it is also provided as source code, which allows you to customize and extend it according
	to your needs.</p>

	<h2>Packaging</h2>
	
	<p>ibrokerFront is packaged as a .WAR file for deployment at your main site, e.g. <b>www.youribroker.com</b>.
	The source code for this component is also provided, which allows you to decide to what
	extent you want to use it.</p>

</wicket:extend>

</body>
</html>
