<html>
<body>

<wicket:extend>

	<img style="float: right" src="images/logo-iservice4java.png">

	<h2>Description</h2>

	<p>iserviceFront is an implementation of the three i-services described at 
	<a href="http://iss.xdi.org/">http://iss.xdi.org/</a>. These i-services are mandatory for
	every i-broker.</p>

	<ul>
	<li>OpenID service</li>
	<li>Contact Page service</li>
	<li>Forwarding service</li>
	</ul>

	<p>iserviceFront contains the web applications that provide the three i-services.</p> 

	<h2>Packaging</h2>
	
	<p>iserviceFront is packaged as a .WAR file for deployment at i-service endpoints, e.g. <b>authn.youribroker.com</b>, <b>contact.youribroker.com</b> and <b>forwarding.youribroker.com</b>.</p>

</wicket:extend>

</body>
</html>
