<html>
<body>

<wicket:extend>

	<img style="float: right" src="images/logo-openxri.png">

	<h2>Description</h2>

	<p>openxriAdmin is an optional web application that 
	allows administrators to manage data from the 
	<a wicket:id="OpenxriLink">openxri</a> component.</p>
	
	<p>This is the unmodified version from the
	open source project at <a href="http://www.openxri.org" target="_blank">http://www.openxri.org/</a>.</p>

	<p>A public instance of this component is deployed at <a href="http://admin.testxri.com/">http://admin.testxri.com</a>.</p>

	<h2>Packaging</h2>
	
	<p>openxri.admin is packaged as a .WAR file for deployment, 
	e.g. <b>admin-openxri.youribroker.com</b>.</p>

</wicket:extend>

</body>
</html>
