<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>resolve.youribroker.com</display-name>
  <description>resolve.youribroker.com</description>

  <servlet>
    <servlet-name>XRIServlet</servlet-name>
    <servlet-class>org.openxri.servlet.XRIServlet</servlet-class>
    <init-param>
      <param-name>server.config.class</param-name>
      <param-value>org.openxri.config.impl.XMLServerConfig</param-value>
    </init-param>
    <init-param>
      <param-name>server.config.file</param-name>
      <param-value>/WEB-INF/server.xml</param-value>
    </init-param>
    <load-on-startup>100</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>XRIServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>XRIServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
