body {
	padding: 5 5 5 5;
	background: #fff;
	font-family: Calibri, Helvetica, Gill Sans, Verdana, arial, sans-serif;
	font-size: 11pt;
}

td {
	font-family: Calibri, Helvetica, Gill Sans, Verdana, arial, sans-serif;
	font-size: 11pt;
}
	
a {
	color: #666;
	text-decoration: none;
}

a:active {
	color: #CE7B68;
	font-weight: bold;
}

a:hover {
	font-weight: bold;
}

a:visited {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

.clear {
	clear: both;
}

.clearleft {
	clear: left;
}

.clearright {
	clear: right;
}

img {
	border: none;
}

#Content {
	text-align: left;
}

#Content .pad {
	padding: 0 20px 0 10px;
}

#Content .Body {
	line-height: 1.75em;
}

#Content h1 {
	font-size: 1.65em;
	color: #666;
	font-weight: normal;
	margin: 0 0 .5em;
}

#Content h2 {
	font-weight: 400;
	color: #666;
	font-size: 1.3em;
	margin: .5em 0 .25em;
}

#Content h2.xri {
	color: #06f;
}

#Content ul {
	padding-left: 0;
	list-style: none;
	margin: 0 0 0 1em;
}

#Content li {
	background: url("images/123.gif") 0 .3em no-repeat;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 .999em;
}

#Content li.arrow {
	background: url("images/point-right.gif") 0 .3em no-repeat;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 1.5em;
}

#Content .border {
	border: 2px solid gray;
	margin-bottom: 10px;
	padding: 10px;
}

input.xriInput {
	background:url(/images/favicon.gif) no-repeat; background-position: 1 50%; padding-left:20px;
}

.code {
	font-family: Courier New, Courier, monospace;
	font-size: .8em;
	white-space: pre;
}

.small {
	font-size: .8em;
}

.feedbackPanelERROR {
	color: #ff0000;
}

.feedbackPanelINFO {
}
