body {
	margin: 0 0 0 0;
	font-family: Calibri, Helvetica, Gill Sans, Verdana, Arial, sans-serif;
	font-size: 11pt;
}

td {
	font-family: Calibri, Helvetica, Gill Sans, Verdana, Arial, sans-serif;
	font-size: 11pt;
}
	
a {
	color: #666;
	text-decoration: none;
}

a:active {
	color: #699CCF;
	font-weight: bold;
}

a:hover {
	font-weight: bold;
}

a:visited {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

.clear {
	clear: both;
}

.clearleft {
	clear: left;
}

.clearright {
	clear: right;
}

img {
	border: none;
}

#Page {
	text-align: left;
	margin-top: 10px;
	padding: 0;
}

#BodyTop {
	height: 11px;
	margin: 0;
	padding: 0;
	font-size: 1pt;
}

#Body {
	line-height: 1.5em;
	text-align: left;
	margin: 0;
	padding: 0;
	padding-right: 6px;
	padding-bottom: 10px;
}

#Body #PageHeaderPad {
	border: 2px solid black;
	height: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
}

#Body #PageHeaderPad #PageHeader {
	font-size: 24pt;
	font-weight: bold;
	color: black;
	text-align: left;
}

#Body #PageHeaderPad #PageHeader a {
	color: black;
}

#Body #PageHeaderPad #UserPanel {
	color: black;
	font-size: 12px;
	text-align: right;
	padding-top: 60px;
}

#Body #PageHeaderPad #UserPanel a {
	color: black;
}

#Sidebar {
	display:none;
}

#Infobar {
	display: none;
}

#Content {
	text-align: left;
	line-height: 1.25em;
}

#Content .pad {
	padding: 0 20px 0 10px;
}

#Content h1 {
	font-size: 1.65em;
	color: #666;
	font-weight: normal;
	margin: 0 0 .5em;
}

#Content h2 {
	font-weight: 400;
	color: #666;
	font-size: 1.3em;
	margin: .5em 0 .25em;
}

#Content h2.xri {
	color: #06f;
}

#Content ul {
	padding-left: 0;
	list-style: none;
	margin: 0 0 0 1em;
}

#Content li {
	background: url("images/123.gif") 0 .3em no-repeat;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 .999em;
}

#Content li.arrow {
	background: url("images/point-right.gif") 0 .3em no-repeat;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 1.5em;
}

#Content .border {
	border: 2px solid gray;
	margin-bottom: 10px;
	padding: 10px;
}

#Content .buttonpanel {
	float: right;
}

#Content .buttonpanel form {
	display: block;
	margin-bottom: 5px;
}

#Content .buttonpanel input {
	width: 100px;
	margin-bottom: 5px;
}

input.toolsGoButton {
	width: 60px;
}

img.captcha {
	border: 1px solid black;
}

img.screenshot {
	border: 2px solid gray;
	padding: 10px;
}

#BodyBottom {
	height: 7px;
	font-size: 1px;
	margin: 0;
	padding: 0;
}

#BodyBottomLeft {
	height: 7px;
	font-size: 1px;
	margin: 0;
	padding: 0;
}

#BodyBottomRight {
	height: 7px;
	font-size: 1px;
	margin: 0;
	padding: 0;
}

#Footer {
	background: transparent;
	text-align: center;
	font-size: 9pt;
	color: #666;
	margin: 0 6px 0 0;
	padding: 10px 0 10px 20px;
}

#Footer a {
	font-weight: normal;
	text-decoration: none;
}

#Footer a:hover {
	font-weight: normal;
	text-decoration: underline;
}

table.admin {
	border: 2px solid black;
}

table.admin thead tr td {
	background-color: #ffc0c0;
	border: 2px solid black;
	padding: 2px;
}

input.xriInput {
	background:url(/images/favicon.gif) no-repeat; background-position: 1 50%; padding-left:20px;
}

input.openIdInput {
	background:url(/images/openidicon.gif) no-repeat; background-position: 1 50%; padding-left:20px;
}

div.configMenuPanel {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.configMenuPanel table tr td {
	padding-right: 10px;
}

table.config {
	width: 100%;
}

table.config thead {
	background-color:#d0e0ff;
}

table.config {
	border: 2px solid #d0e0ff;
	margin-bottom: 10px;
}

.code {
	font-family: Courier New, Courier, monospace;
	font-size: .8em;
	white-space: pre;
}

.small {
	font-size: .8em;
}

.feedbackPanelERROR {
	color: #ff0000;
}

.feedbackPanelINFO {
}
