	<h2>OAuth service</h2>

	<p>This is the <a href="$providerlink">$providername</a> OAuth
	service endpoint. It allows external applications to access a user's i-name configuration on their behalf,
	in order to enable third party i-services.</p>
	<p>Here you can find some information on how the OAuth protocol is used for this purpose.</p>

	<h2>Consumer Key and Consumer Secret</h2>
	
	<p>The OAuth protocol uses a Consumer Key and Consumer Secret for establishing the identity
	of a Consumer site, but it does not specify how those are obtained.</p>
	<p>In our case, Consumers do not have to pre-register with our service. Instead we
	define a "Static Consumer" with the following credentials:</p>
	<ul>
	<li><strong>Consumer Key:</strong> PUBLIC</li>
	<li><strong>Consumer Secret:</strong> (empty string)</li>
	</ul>

	<h2>Obtaining an Unauthorized Request Token</h2>
	
	<p>The $providername Request Token URL is <b>$obtainrequesttoken-endpoint-url</b>.</p>
	<p>When obtaining a Request Token, we support the following additional parameters in the OAuth request:</p>
	<ul>
	<li><strong>xri_operation</strong>: This specifies the nature of the operation to be performed on a user's i-name configuration.
		Currently the following values for this parameter are supported:
		<ul>
		<li><strong>xri_add_service</strong>: This adds a new SEP (service endpoint) to a user's i-name configuration.</li>
		</ul>
	</li>
	<li><strong>xri_iname</strong>: This is a user's i-name or i-number. The above operation will be performed
		on the configuration of this i-name or i-number.</li>
	<li><strong>xri_service</strong>: If the value of the <strong>xri_operation</strong> parameter is
		<strong>xri_add_service</strong>, then this parameter holds the XML code of the SEP (service endpoint)
		to be added.</li>
	</ul>
	
	<h2>Obtaining User Authorization</h2>
	
	<p>The $providername User Authorization URL is <b>$authorizerequesttoken-endpoint-url</b>.</p>
	<p>When redirecting to this URL, we define the OAuth
	
	<h2>Obtaining an Access Token</h2>
	
	<p>The $providername Access Token URL is <b>$exchangerequesttoken-endpoint-url</b>.</p>
	<p>After the user has authorized a requested operation, the Request Token can be exchanged for an
	Access Token.</p>

	<h2>Accessing Protected Resources</h2>
	
	<p>After an Access Token has successfully been obtained, the final step is to execute the operation
	that has been requested in the first step.</p>
	<p>The $providername URL for executing an Access Token is <b>$executeaccesstoken-endpoint-url</b>.</p>
	<p>An OAuth request to this URL must be made only once, must include the usual OAuth parameters
	of the Accessing Protected Resources step, and must not include additional parameters.</p>
	<p>After this final OAuth request succeeds, the Access Token is invalidated and cannot be used again.</p>
	
	<h2>More information</h2>
	
	<p>For more information about the OAuth protocol, please see the following sites:</p>
	
	<ul>
	<li><a href="http://oauth.net/" target="_blank">OAuth Home</a></li>
	</ul>