
	<h2>Request for Authorization</h2>

	<p>We have received an external request via the OAuth protocol to modify the configuration of your
	i-name.<br>
	You should carefully review the information on this page and then decide if you wish to
	authorize this request.</p>
	
	<p><strong>i-name / i-number:</strong> $iname
	
#if ($aliases.size() > 0)

<br>
	<strong>Synonyms:</strong> 
	#foreach($alias in $aliases)
		$alias
	#end
#end
	</p>

	<p><strong>Operation to be performed:</strong> $operation</p>
	
	<p><strong>SEP (service endpoint):</strong></p>
	
	<hr>
	<p class="code">$encoder.html($service.toString(),true)</p>
	<hr>
	
#if ($conflictingServices.size() > 0)

	<h2>Conflicting configuration</h2>

	<p><strong>Attention: Your i-name configuration already contains conflicting
	services. If you wish, these existing services can be automatically removed, in order
	to make sure that the service you are adding will function correctly.</strong></p>
	<p>The following existing SEPs (service endpoints) conflict with the service you are
	about to add:</p>
	<hr>
	#foreach($conflictingService in $conflictingServices)
		<p class="code">$encoder.html($conflictingService.toString(),true)</p>
		<hr>
	#end
#end
	
	<div wicket:id="feedbackPanel">___ feedbackPanel here ___</div>

	<h2>Please authenticate and authorize the above request:</h2>

	<form wicket:id="oauthForm">

		<p><strong>Password:</strong>&nbsp;<input wicket:id="pass" type="password" style="padding:5px"></p>
		<div wicket:id="removeConflictingContainer">
		<input wicket:id="removeConflicting" type="checkbox"> Automatically remove existing, conflicting SEPs (service endpoints)
		</div>
		<input wicket:id="authorize" type="submit" value="Authenticate and Authorize">
		<input wicket:id="cancel" type="submit" value="Cancel">

	</form>
